/* Nav Menu */
#nav_menu ul{
	list-style-type: none;
	padding-left: 0px;
}
#nav_menu ul li{
	float: left;
	width: 16.66667%;
	}
#nav_menu ul li a{
	text-align: center;
	display: block;
	padding: 1em 0;
	text-decoration: none;
	background-color: slategrey;
	color: yellow;
	font-weight: bold;
	border-right: 2px solid white;
}
header img{
	width: 100%;
	height: 150px;
}
#nav_menu a.current {
	color: darkred;
}
a:focus, a:hover {
	font-style: italic;
	color: blue;
}
div img{
	height: 25%;
	width: 25%;
}
section {
	width: 580px;
	clear: left;
	padding: 20px 40px 20px 20px;	
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
}
section h1:first-letter { 
	font-size: 240%;
}
section h2 {
	font-size: 125%;
	margin: .8em 0 .5em 0;
}
section h3 {
	font-size: 110%;
	margin: .8em 0 .5em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: orange;
}
section a:link, main a:visited { 
    color: orange; 
}
section a:hover, main a:focus { 
    color: green;
}
.label {
	display: inline-block;
    clear: left;
    width: 100px;
    text-align: right;
	padding: 2px;
}
.input {
	width: 450px;
	margin: 5px 0px;
	margin-left: 10px;
}
#button{
	background-color: orange;
	border: black;
	border-style: solid;
	padding: .15em 2em;
	margin-left: 115px;
	margin-top: 10px;
}